body{
    font-family: Arial, Helvetica, sans-serif;    
}

p{
    line-height: 1.5;
    font-size: 13px;
    font-weight: lighter;
}

#div-geral{
    width:55%;
    height: 300px;
    border:1px #DDD solid;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 750px;
}

.login{
    float:left;            
    width: 40%;
    margin:5%;    
}

.login .titulo{    
    font-size:40px;     
}

.login .subtitulo{
    color: #BBB;    
    font-weight: lighter;    
}

.login .form-input{    
    height: 32px;
    border: 1px solid #BBB;    
    border-radius: 3px;
    font-weight: lighter;
    font-size:13px;
    width:97%;    
    padding-left: 5px;
}

.login .form-button{
    background-color: #20A8D8;
    height: 32px;
    width: 63px;
    color:#fff;
    border: none;
    font-size:13px;
    border-radius: 5px;    
}

.login .form-link{
    text-decoration: none;
    color:  #20A8D8;
    float:right;
    font-size:13px; 
    font-weight: lighter;
    padding-top: 8px;
}

.signup{
    float:right;
    width:50%;    
    height: 100%;
    background-color: #20A8D8;
    text-align: center; 
}

.signup div{
    padding: 0 20px;
    margin-top: 55px;
}

.signup .titulo{    
    font-size:36px;
    font-weight: lighter;    
    color: #FFF;    
}

.signup .subtitulo{
    color: #FFF;
    font-weight: lighter;
    display: inline-block;
    margin-bottom: 40px;
}

.signup .form-button{
    background-color: #1985AC;
    height: 32px;
    width: 120px;
    color:#fff;
    border: none;
    font-size:13px;
    border-radius: 5px;    
}

.field-separator{
    margin-bottom: 15px;
}

::placeholder {    
    font-weight: lighter;
    font-size:13px;    
}