body{
    font-family: 'Open Sans', sans-serif;
}

#general-container{
    display: inline-flex;
}

#login{
    padding: 5%;
}

#signup{ 
    padding: 5%;    
}

.bg-blue{
    background-color: #20A8D8;
}